<section class="task-list" aria-label="Список типов заданий">
  <a href="/subtopics?type=1" class="task-button">1</a>
  <a href="/subtopics?type=2" class="task-button">2</a>
  <a href="/subtopics?type=3" class="task-button">3</a>
  <a href="/subtopics?type=4" class="task-button">4</a>
  <a href="/subtopics?type=5" class="task-button">5</a>
  <a href="/subtopics?type=6" class="task-button">6</a>
  <a href="/subtopics?type=7" class="task-button">7</a>

  <a href="/subtopics?type=8" class="task-button">8</a>
  <a href="/subtopics?type=9" class="task-button">9</a>
  <a href="/subtopics?type=10" class="task-button">10</a>
  <a href="/subtopics?type=11" class="task-button">11</a>
  <a href="/subtopics?type=12" class="task-button">12</a>
  <a href="/subtopics?type=13" class="task-button">13</a>
  <a href="/subtopics?type=14" class="task-button">14</a>

  <a href="/subtopics?type=15" class="task-button">15</a>
  <a href="/subtopics?type=16" class="task-button">16</a>
  <a href="/subtopics?type=17" class="task-button">17</a>
  <a href="/subtopics?type=18" class="task-button">18</a>
  <a href="/subtopics?type=19" class="task-button">19</a>
  <a href="/subtopics?type=20" class="task-button">20</a>
  <a href="/subtopics?type=21" class="task-button">21</a>

  <a href="/subtopics?type=22" class="task-button">22</a>
  <a href="/subtopics?type=23" class="task-button">23</a>
  <a href="/subtopics?type=24" class="task-button">24</a>
  <a href="/subtopics?type=25" class="task-button">25</a>
  <a href="/subtopics?type=26" class="task-button">26</a>
  <a href="/subtopics?type=27" class="task-button">27</a>
</section>
